/* .rivers-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
#background1 {
    background-color: #edddd4;
    grid-column: 1/11;
    grid-row: 1/2;
}
.rivers-img{
    width: 100%;
    border: 1px solid #283d3b;
    transition: transform .5s;
    box-shadow: 5px 5px 10px black;
}
.mainfork1_img{
    margin: auto;
    margin-right: 8px;
    max-width: 480px;
    max-height: 480px;
    grid-column: 5/8;
    grid-row: 1/2;
}
.mainfork2_img{
    margin: auto;
    margin-right: 8px;
    max-width: 480px;
    max-height: 480px;
    grid-column: 8/11;
    grid-row: 1/2;
}
.mainfork_msg {
    margin: auto;
    align-items: center;
    background-color: #772e25;
    padding: 10px;
    grid-column: 1/5;
    grid-row: 1/2;
    box-shadow: 5px 5px 10px black;
    margin: 10px;
    color: white;
}
.mainfork1:hover, .mainfork2:hover {
    color: #772e25;
    box-shadow: 0 4px 8px 0 #772e25, 0 6px 20px 0 #772e25;
    transition: 0.3s;
}
.separators{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    grid-column: 3/9;
    color: #c4685d;
}
#background2 {
    background-color: #edddd4;
    grid-column: 1/11;
    grid-row: 3/4;
}
.desolation1_img{
    margin: auto;
    margin-left: 5px;
    max-width: 480px;
    max-height: 480px;
    grid-column: 1/4;
    grid-row: 3/4;
}
.desolation2_img{
    margin: auto;
    margin-left: 5px;
    max-width: 480px;
    max-height: 480px;
    grid-column: 4/7;
    grid-row: 3/4;
}
.desolation_msg {
    margin: auto;
    align-items: center;
    background-color: #772e25;
    padding: 10px;
    grid-column: 7/11;
    grid-row: 3/4;
    box-shadow: 5px 5px 10px black;
    margin: 10px;
    color: white;
}
.desolation1:hover, .desolation2:hover {
    color: #772e25;
    box-shadow: 0 4px 8px 0 #772e25, 0 6px 20px 0 #772e25;
    transition: 0.3s;
}

#background3 {
    background-color: #edddd4;
    grid-column: 1/11;
    grid-row: 5/6;
}
.canyon1_img{
    margin: auto;
    margin-left: 5px;
    max-width: 480px;
    max-height: 480px;
    grid-column: 5/7;
    grid-row: 5/6;
}
.canyon2_img{
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 480px;
    max-height: 480px;
    grid-column: 7/9;
    grid-row: 5/6;
}
.canyon3_img{
    margin: auto;
    margin-right: 5px;
    max-width: 480px;
    max-height: 480px;
    grid-column: 9/11;
    grid-row: 5/6;
}
.canyon_msg {
    margin: auto;
    align-items: center;
    background-color: #772e25;
    padding: 10px;
    grid-column: 1/5;
    grid-row: 5/6;
    box-shadow: 5px 5px 10px black;
    margin: 10px;
    color: white;
    z-index: 1;
}
.canyon1:hover, .canyon2:hover, .canyon3:hover {
    color: #772e25;
    box-shadow: 0 4px 8px 0 #772e25, 0 6px 20px 0 #772e25;
    transition: 0.3s;
} */